<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CorpNumber</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CorpNumber.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #FFFFFF;">
    <!--Определение страницы , чтобы  скрыть кнопку-->
    @{
        var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
        var action = ViewContext.RouteData.Values["Action"]?.ToString();
        var isMainPage = controller == "Phones" && action == "Index";
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">

                <span class="navbar-brand">Список корпоративных номеров</span>

                @if (!isMainPage)
                {
                    <a class="btn btn-outline-danger" href="@Url.Action("AdminIndex", "Admin")">
                        ↩️ Вернуться в Гл.Меню
                    </a>
                }
            </div>
        </nav>
    </header>

   

    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    


    <footer class="border-top text-center text-muted"
            style="height: 36px; line-height: 36px; font-size: 0.85rem; background-color: #f9f9f9;">
        &copy; 2025 — ОсОО Алтынкен
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
   
</body>


</html>
