@*
    Deafault.cshtml      Views/Shared/Components/HeaderStats/Default.cshtml
*@
@{
}
@model CorpNumber.Models.HeaderStatsViewModel

<div class="d-flex flex-wrap align-items-center">
    <button class="btn navbar-btn btn-birthday btn-sm">
        🎉 Именинники (@Model.BirthdayCount)
    </button>
    <button class="btn navbar-btn btn-operations btn-sm" id="showIncompleteOperationsModal">
        ❗ Невыполненные операции (@Model.IncompleteOperations)
    </button>
    <a class="btn navbar-btn btn-all btn-sm" asp-controller="Operations" asp-action="OperationsIndex">
        👥 Все операции
    </a>
    <button class="btn navbar-btn btn-alert btn-sm">
        🔔 (@Model.TaskOverdue/@Model.TaskTotal)
    </button>
    <a class="btn navbar-btn btn-back btn-sm" href="@Url.Action("AdminIndex", "Admin")">
        ↩️ В Гл.Меню
    </a>
</div>
